@use "./config.scss" as config;

.basket {
	padding: 40px;
	background-color: #FFFFFF;
	max-width: 920px;
	@media (max-width: config.$mbpM) {
		padding: 30px 16px;
	}
	&__title {
		display: flex;
		align-items: flex-end;
		gap: 10px;
		font-weight: 600;
		font-size: 24px;
		line-height: 130%;
	}
	&__amount {
		font-size: 20px;
		opacity: 0.6;
	}
	&__body {
		display: flex;
		flex-direction: column;
		gap: 40px;
		@media (max-width: config.$mbpM) {
			gap: 20px;
		}
	}
	&__list {
		
	}
	&__total {
		align-self: flex-end;
		display: flex;
		flex-wrap: wrap;
		gap: 0.4em;
		font-weight: 600;
		font-size: 24px;
		line-height: 130%;
		text-align: right;
		@media (max-width: config.$mbpSM) {
			font-size: 16px;
		}
		& > dd {
			color: var(--text-primary);
		}
	}
	&__actions {
		display: flex;
		flex-wrap: wrap;
		gap: 20px;
		& > * {
			flex: 1 1 auto;
		}
		@media (max-width: config.$mbpM) {
			gap: 10px;
		}
	}
}
.basket-list {
	display: grid;
	align-items: center;
	grid-template-columns: min-content minmax(60px, 0.6fr) minmax(140px, 1.5fr) minmax(min-content, 0.5fr) minmax(min-content, 0.5fr) min-content minmax(max-content, 0.8fr);
	gap: 18px;
	@media (max-width: config.$mbpM) {
		grid-template-columns: min-content minmax(60px, 0.6fr) minmax(60px, 0.8fr) min-content;
		gap: 10px;
	}
	&_order-summary {
		grid-template-columns: minmax(100px, 1fr) minmax(min-content, 1.2fr) min-content min-content max-content;
	}
	&__header {
		color: #858585;
		font-weight: 600;
		font-size: 14px;
		line-height: 2;

		@media (max-width: config.$mbpM) {
			display: none;
		}
		&_title {
			grid-column: 2/span 2;
		}
		&_size, &_color, &_amount {
			text-align: center;
		}
		&_price {
			text-align: right;
			@media (max-width: config.$mbpM) {
				display: none;
			}
		}
	}
	&__separator {
		grid-column: 1/-1;
		height: 1px;
		background-color: #DFDFDF;
		@media (max-width: config.$mbpM) {
			margin: 10px 0;
		}
	}
	&_order-summary &__drop {
		align-self: start;
	}
	&__view {
		--height-ratio: 100%;
	}
	&_order-summary &__view {
		grid-row: auto/ span 2;
	}
	&__img {
	}
	&__title {
		color: #858585;
		font-weight: 600;
		font-size: 14px;
		line-height: 130%;
		
	}
	&_basket &__title {
		@media (max-width: config.$mbpM) {
			grid-column: auto/span 2;
		}
	}
	&_order-summary &__title {
		align-self: start;
		grid-column: auto/span 3;
	}
	&__size, &__color, &__price {
		font-weight: 600;
		font-size: 16px;
		line-height: 130%;
		letter-spacing: 0.41px;
		text-align: center;
	}
	&_basket &__size, &_basket &__color, &_basket &__amount {
		@media (max-width: config.$mbpM) {
			display: flex;
			flex-direction: column;
			align-items: start;
			gap: 20px;
			&::before {
				color: #858585;
				font-weight: 600;
				font-size: 14px;
				line-height: 2;
			}
		}
		@media (max-width: config.$mbpSM) {
			&::before {
				font-size: 12px;
			}
		}
	}
	&_order-summary &__size {
		text-align: left;
	}
	&_basket &__size {
		@media (max-width: config.$mbpM) {
			grid-column: auto/span 2;
			&::before {
				content: "Размер";
			}
		}
	}
	&_basket &__color {
		@media (max-width: config.$mbpM) {
			&::before {
				content: "Цвет";
			}
		}
	}
	&_basket &__amount {
		@media (max-width: config.$mbpM) {
			&::before {
				content: "Количество";
			}
		}
	}
	&_order-summary &__amount {
		grid-column:auto/ span 1;
	}
	&__price {
		color: var(--text-primary);
		text-align: right;
		
	}
	&_basket &__price {
		@media (max-width: config.$mbpM) {
			text-align-last: left;
			grid-column: 1/ -1;
		}
	}
	&_order-summary &__price {
		grid-column: auto/span 2;
	}
}