@font-face {
	font-family: 'Gilroy';
	src: local('☺'), url('./fonts/Gilroy-Bold.woff') format('woff'),url('./fonts/Gilroy-Bold.woff2') format('woff2');
	font-weight: 700;
	font-style: normal;
font-display: swap;
}
@font-face {
	font-family: 'Gilroy';
	src: local('☺'), url('./fonts/Gilroy-SemiBold.woff') format('woff'),url('./fonts/Gilroy-SemiBold.woff2') format('woff2');
	font-weight: 600;
	font-style: normal;
font-display: swap;
}
@font-face {
	font-family: 'Lato';
	src: local('☺'), url('./fonts/Lato-Medium.woff') format('woff'),url('./fonts/Lato-Medium.woff2') format('woff2');
	font-weight: 500;
	font-style: normal;
font-display: swap;
}
