---
import ImgWrap from '../components/basic/ImgWrap.astro';
import Layout from '../layouts/Layout.astro';
---

<Layout title="ReSale About Company" description="About Company">
	<div class="about section-space-bottom">
		<div class="container about__container">
			<div class="about__header page-header">
				<nav aria-label="Breadcrumb" class="breadcrumbs tg-breadcrumbs page-header__breadcrumbs">
					<a href="/" class="breadcrumbs__item text-link">Главная</a>
					<span class="breadcrumbs__separator">›</span>
					<span class="breadcrumbs__item breadcrumb__item_active">Про компанію</span>
				</nav>
				<h1 class="tg-page-title page-header__title">Про компанію</h1>
			</div>
			<div class="page-poster section-space-bottom">
				<ImgWrap className='page-poster__bg img-wrap_cut'>
					<img src="img/about-poster.webp" class="page-poster__bg-img" alt="About Poster" title="About Poster">
				</ImgWrap>
				<div class="page-poster__msg">Вітаємо Вас в мережі магазинів DiForte!</div>
			</div>
			<div class="about__body">
				<section class="article-section article-section_horizontal section-space-bottom">
					<div class="article-column article-column_text article-column_align-center">
						<div class="article-block">
							<h2 class="article-block__title">Продати товар</h2>
							<p>Вітаємо Вас в мережі магазинів DiForte! Ми найбільша мережа преміум сегменту в західній Україні, яка постійно зростає і розвивається. У нас працюють фахівці, які люблять свою справу і постійно вдосконалюють свої навички. Наші консультанти готові допомогти вибрати саме ту річ, яка вам необхідна, допомогти визначитися з розмірної сіткою, запропонувати кілька варіантів від однієї одиниці до повного лука, від базових речей до вечірніх суконь. Ми дбаємо про те, щоб світ став прекрасніший.</p>
						</div>
					</div>
					<div class="article-decorated-img article-column article-column_img">
						<div class="article-decorated-img__inner">
							<ImgWrap className='article-decorated-img__img img-wrap_cut'>
								<img src="img/about_01.webp" alt="About Us" title="About Us">
							</ImgWrap>
							<div class="article-decorated-img__decor article-decorated-img__decor_left"></div>
							<div class="article-decorated-img__decor article-decorated-img__decor_right"></div>
						</div>
					</div>
				</section>
				<section class="article-section article-section_horizontal section-space-bottom">
					<div class="article-decorated-img article-column article-column_img">
						<div class="article-decorated-img__inner">
							<ImgWrap className='article-decorated-img__img img-wrap_cut'>
								<img src="img/about_02.webp" alt="About Us" title="About Us">
							</ImgWrap>
							<div class="article-decorated-img__decor  article-decorated-img__decor_left"></div>
							<div class="article-decorated-img__decor  article-decorated-img__decor_right"></div>
						</div>
					</div>
					<div class="article-column article-column_text article-column_align-center">
						<div class="article-block">
							<h2 class="article-block__title">Продати товар</h2>
							<p>Вітаємо Вас в мережі магазинів DiForte! Ми найбільша мережа преміум сегменту в західній Україні, яка постійно зростає і розвивається. У нас працюють фахівці, які люблять свою справу і постійно вдосконалюють свої навички. Наші консультанти готові допомогти вибрати саме ту річ, яка вам необхідна, допомогти визначитися з розмірної сіткою, запропонувати кілька варіантів від однієї одиниці до повного лука, від базових речей до вечірніх суконь. Ми дбаємо про те, щоб світ став прекрасніший.</p>
							<a href="" class="btn btn_rect btn_primary article-block__btn">ПРОДАТИ РЕЧІ</a>
						</div>
					</div>
				</section>
				<ul class="features-section  section-space-bottom">
					<li class="features-section__item feature-card">
						<div class="feature-card__icon">
							<img src="img/nominated.svg" alt="" class="feature-card__image">
						</div>
						<div class="feature-card__content">
							<h3 class="feature-card__title">18 років</h3>
							<p class="feature-card__description">
								Вітаємо Вас в мережі магазинів DiForte! Ми найбільша мережа преміум сегменту в західній Україні, яка постійно зростає і розвивається.
							</p>
						</div>
					</li>
					<li class="features-section__item feature-card">
						<div class="feature-card__icon">
							<img src="img/brand.svg" alt="" class="feature-card__image">
						</div>
						<div class="feature-card__content">
							<h3 class="feature-card__title">+ 500 БРЕНДІВ</h3>
							<p class="feature-card__description">
								Вітаємо Вас в мережі магазинів DiForte! Ми найбільша мережа преміум сегменту в західній Україні, яка постійно зростає і розвивається.
							</p>
						</div>
					</li>
				</ul>
				<section class="article-section article-section_horizontal">
					<div class="article-column article-column_text article-column_align-center">
						<div class="article-block">
							<h2 class="article-block__title">Продати товар</h2>
							<p>Вітаємо Вас в мережі магазинів DiForte! Ми найбільша мережа преміум сегменту в західній Україні, яка постійно зростає і розвивається. У нас працюють фахівці, які люблять свою справу і постійно вдосконалюють свої навички. Наші консультанти готові допомогти вибрати саме ту річ, яка вам необхідна, допомогти визначитися з розмірної сіткою, запропонувати кілька варіантів від однієї одиниці до повного лука, від базових речей до вечірніх суконь. Ми дбаємо про те, щоб світ став прекрасніший.</p>
						</div>
					</div>
					<div class="article-decorated-img article-column article-column_img">
						<div class="article-decorated-img__inner">
							<ImgWrap className='article-decorated-img__img img-wrap_cut'>
								<img src="img/about_01.webp" alt="About Us" title="About Us">
							</ImgWrap>
							<div class="article-decorated-img__decor article-decorated-img__decor_left"></div>
							<div class="article-decorated-img__decor article-decorated-img__decor_right"></div>
						</div>
					</div>
				</section>
			</div>
		</div>
	</div>
</Layout>