---
import CabinetSidebar from 'src/components/CabinetSidebar.astro';
import ImgWrap from '../components/basic/ImgWrap.astro';
import Layout from '../layouts/Layout.astro';
---

<Layout title="ReSale Cabinet" description="Cabinet">
	<div class="cabinet section-space-bottom">
		<div class="container cabinet__container">
			<div class="cabinet__header">
				<nav aria-label="Breadcrumb" class="breadcrumbs tg-breadcrumbs cabinet__breadcrumbs">
					<a href="/" class="breadcrumbs__item text-link">Главная</a>
					<span class="breadcrumbs__separator">›</span>
					<span class="breadcrumbs__item breadcrumb__item_active">Одежда</span>
				</nav>
			</div>
			<CabinetSidebar className='cabinet__sidebar' active="/profile"></CabinetSidebar>
			<h1 class="cabinet__title">Мій профіль</h1>
			<!-- Main content -->
			<div class="cabinet__body">
				<div class="cabinet__section">
					<!-- Stats cards -->
					<div class="cabinet__dashboard cabinet-dashboard">
						<div class="cabinet-dashboard__card cabinet-dashboard-card">
							<span class="cabinet-dashboard-card__icon icon-several-things"></span>
							<span class="cabinet-dashboard-card__label">На сайті</span>
							<span class="cabinet-dashboard-card__value">12</span>
						</div>
						<div class="cabinet-dashboard__card cabinet-dashboard-card">
							<span class="cabinet-dashboard-card__icon icon-shopper-small"></span>
							<span class="cabinet-dashboard-card__label">Покупки</span>
							<span class="cabinet-dashboard-card__value">4</span>
						</div>
						<div class="cabinet-dashboard__card cabinet-dashboard-card">
							<span class="cabinet-dashboard-card__icon icon-cart-small"></span>
							<span class="cabinet-dashboard-card__label">Продажі</span>
							<span class="cabinet-dashboard-card__value">55</span>
						</div>
						<div class="cabinet-dashboard__card cabinet-dashboard-card">
							<span class="cabinet-dashboard-card__icon icon-uah-in-circle"></span>
							<span class="cabinet-dashboard-card__label">Сумма продажів</span>
							<span class="cabinet-dashboard-card__value">11 300 ₴</span>
						</div>
					</div>
				</div>
				<!-- Profile form -->
				<form class="cabinet__form">
					<div class="cabinet__section">
						<h2 class="cabinet__section-title">Основні дані</h2>
						
						<div class="cabinet__form-body">
							<div class="form-field">
								<label class="form-field__label">Ім'я</label>
								<input type="text" class="form-field__input" placeholder="Введіть ім'я" required>
							</div>
							<div class="form-field">
								<label class="form-field__label">Прізвище</label>
								<input type="text" class="form-field__input" placeholder="Введіть прізвище">
							</div>
							<div class="form-field">
								<label class="form-field__label">Номер телефону</label>
								<input type="tel" class="form-field__input" placeholder="Введіть номер телефону">
							</div>
							<div class="form-field">
								<label class="form-field__label">E-mail</label>
								<input type="email" class="form-field__input" placeholder="Введіть пошту">
							</div>
						</div>
					</div>
					<div class="cabinet__section">
						<h2 class="cabinet__section-title">Пароль</h2>
						<div class="cabinet__form-body">
							<div class="form-field form-field_span-2">
								<label class="form-field__label">Старий пароль</label>
								<input type="password" class="form-field__input" placeholder="Введіть пароль">
							</div>
							<div class="form-field">
								<label class="form-field__label">Новий пароль</label>
								<input type="password" class="form-field__input" placeholder="Введіть пароль">
							</div>
							<div class="form-field">
								<label class="form-field__label">Повторіть новий пароль</label>
								<input type="password" class="form-field__input" placeholder="Введіть пароль">
							</div>
						</div>
					</div>
					<div class="cabinet__section">
						<button type="submit" class="btn btn_rect btn_primary cabinet__submit">Зберегти зміни</button>
					</div>
				</form>
			</div>
		</div>
	</div>
</Layout>