---
import Layout from '../layouts/Layout.astro';
---

<Layout title="ReSale" description="Index page" empty={true}>
	<div class="container">
		<div class="pages">
			<h3>Pages</h3>
			<ol>
				<li><a href="./home.html" class="link">Home</a></li>
				<li><a href="./storefront.html" class="link">Storefront</a></li>
				<li><a href="./product-card.html" class="link">Product Card</a></li>
				<li><a href="./cabinet.html" class="link">Cabinet</a></li>
				<li><a href="./shops.html" class="link">Shops</a></li>
				<li><a href="./about.html" class="link">About</a></li>
				<li><a href="./feedbacks.html" class="link">Feedbacks</a></li>

				<li><a href="./faq.html" class="link">Faq</a></li>
				<li><a href="./shipping.html" class="link">Shipping</a></li>
				<li><a href="./return.html" class="link">Return</a></li>
				<li><a href="./conditions.html" class="link">Conditions</a></li>
				<li><a href="./warranty.html" class="link">Warranty</a></li>
				<li><a href="./partnership.html" class="link">Partnership</a></li>
				<li><a href="./star-clients.html" class="link">Star clients</a></li>
				<li><a href="./order-completion.html" class="link">Order completion</a></li>
				<li><a href="./order-closed.html" class="link">Order closed</a></li>
				<li><a href="./auth.html" class="link">Auth</a></li>
				<li><a href="./registration.html" class="link">Registration</a></li>
				<li><a href="./password-recovery.html" class="link">Password recovery</a></li>
				<li><a href="./payment-info.html" class="link">Payment info</a></li>
				<li><a href="./address.html" class="link">Address</a></li>
				<li><a href="./my-products.html" class="link">My products</a></li>
				<li><a href="./orders.html" class="link">Orders</a></li>
				<li><a href="./returns.html" class="link">Returns</a></li>

				<li><a href="./sell-product-start.html" class="link">Sell Product Start</a></li>
				<li><a href="./sell-product-info.html" class="link">Sell Product Info</a></li>
				<li><a href="./sell-product-photos.html" class="link">Sell Product Photos</a></li>
				<li><a href="./sell-product-description.html" class="link">Sell Product Description</a></li>
				<li><a href="./sell-product-state.html" class="link">Sell Product State</a></li>
				<li><a href="./sell-product-final.html" class="link">Sell Product Final</a></li>
				
			</ol>
		</div>
	</div>
</Layout>
<style>
	.container {
		padding: 40px;
	}
	h3 {
		font-weight: 600;
		margin-bottom: 20px;
	}
</style>
