---
import ImgWrap from '../components/basic/ImgWrap.astro';
import Layout from '../layouts/Layout.astro';
---

<Layout title="ReSale payment info" description="Payment info">
	<div class="cabinet section-space-bottom">
		<div class="container cabinet__container">
			<div class="cabinet__header">
				<nav aria-label="Breadcrumb" class="breadcrumbs tg-breadcrumbs cabinet__breadcrumbs">
					<a href="/" class="breadcrumbs__item text-link">Главная</a>
					<span class="breadcrumbs__separator">›</span>
					<span class="breadcrumbs__item breadcrumb__item_active">Мій профіль</span>
				</nav>
			</div>
			<aside class="cabinet__sidebar cabinet-sidebar">
				<div class="cabinet-sidebar__inner">
					<nav class="cabinet-sidebar__body">
						<ul class="cabinet-sidebar__list">
							<li class="cabinet-sidebar__item">
								<a href="/my-goods" class="cabinet-sidebar__link btn btn_rect">
									<span class="icon-clapper cabinet-sidebar__icon btn__icon"></span>
									Мої товари
								</a>
							</li>
							<li class="cabinet-sidebar__item">
								<a href="/sales" class="cabinet-sidebar__link btn btn_rect">
									<span class="cabinet-sidebar__icon btn__icon icon-uah"></span>
									Продажі
								</a>
							</li>
							<li class="cabinet-sidebar__item">
								<a href="/orders" class="cabinet-sidebar__link btn btn_rect">
									<span class="cabinet-sidebar__icon btn__icon icon-return"></span>
									Оформлені повернення
								</a>
							</li>
						</ul>
						<ul class="cabinet-sidebar__list">
							<li class="cabinet-sidebar__item">
								<a href="/profile" class="cabinet-sidebar__link cabinet-sidebar__link_active btn btn_rect">
									<span class="cabinet-sidebar__icon btn__icon icon-person"></span>
									Мій профіль
								</a>
							</li>
							<li class="cabinet-sidebar__item">
								<a href="/payment-info" class="cabinet-sidebar__link btn btn_rect">
									<span class="cabinet-sidebar__icon btn__icon icon-paycard"></span>
									Платіжна інформація
								</a>
							</li>
							<li class="cabinet-sidebar__item">
								<a href="/addresses" class="cabinet-sidebar__link btn btn_rect">
									<span class="cabinet-sidebar__icon btn__icon icon-map-pin"></span>
									Мої адреси
								</a>
							</li>
							<li class="cabinet-sidebar__item">
								<a href="/navigation" class="cabinet-sidebar__link btn btn_rect">
									<span class="cabinet-sidebar__icon btn__icon icon-settings"></span>
									Налаштування
								</a>
							</li>
							<li class="cabinet-sidebar__item">
								<a href="/feedback" class="cabinet-sidebar__link btn btn_rect">
									<span class="cabinet-sidebar__icon btn__icon icon-headphones"></span>
									Зворотній зв'язок
								</a>
							</li>
							<li class="cabinet-sidebar__item">
								<a href="/logout" class="cabinet-sidebar__link btn btn_rect">
									<span class="cabinet-sidebar__icon btn__icon icon-logout"></span>
									Вихід
								</a>
							</li>
						</ul>
					</nav>
				</div>
			</aside>
			<h1 class="cabinet__title tg-page-title">Платіжна інформація</h1>
			<!-- Main content -->
			<div class="cabinet__body">
				<!-- Profile form -->
				<form class="cabinet__form">
					<div class="cabinet__section">
						<h2 class="cabinet__section-title">Рахунки для виплат</h2>
						
						<div class="cabinet__form-body">
							<div class="form-field">
								<label class="form-field__label">Ім'я</label>
								<input type="text" class="form-field__input" placeholder="Введіть ім'я" required>
							</div>
							<div class="form-field">
								<label class="form-field__label">Прізвище</label>
								<input type="text" class="form-field__input" placeholder="Введіть прізвище">
							</div>
							<div class="form-field">
								<label class="form-field__label">Номер телефону</label>
								<input type="tel" class="form-field__input" placeholder="Введіть номер телефону">
							</div>
							<div class="form-field">
								<label class="form-field__label">E-mail</label>
								<input type="email" class="form-field__input" placeholder="Введіть пошту">
							</div>
						</div>
					</div>
					<div class="cabinet__section">
						<h2 class="cabinet__section-title">Пароль</h2>
						<div class="cabinet__form-body">
							<div class="form-field form-field_span-2">
								<label class="form-field__label">Старий пароль</label>
								<input type="password" class="form-field__input" placeholder="Введіть пароль">
							</div>
							<div class="form-field">
								<label class="form-field__label">Новий пароль</label>
								<input type="password" class="form-field__input" placeholder="Введіть пароль">
							</div>
							<div class="form-field">
								<label class="form-field__label">Повторіть новий пароль</label>
								<input type="password" class="form-field__input" placeholder="Введіть пароль">
							</div>
						</div>
					</div>
					<div class="cabinet__section">
						<button type="submit" class="btn btn_rect btn_primary cabinet__submit">Зберегти зміни</button>
					</div>
				</form>
			</div>
		</div>
	</div>
</Layout>