---
import CabinetSidebar from 'src/components/CabinetSidebar.astro';
import Layout from '../layouts/Layout.astro';
---

<Layout title="ReSale payment info" description="Payment info">
	<div class="cabinet section-space-bottom">
		<div class="container cabinet__container">
			<div class="cabinet__header">
				<nav aria-label="Breadcrumb" class="breadcrumbs tg-breadcrumbs cabinet__breadcrumbs">
					<a href="/" class="breadcrumbs__item text-link">Главная</a>
					<span class="breadcrumbs__separator">›</span>
					<span class="breadcrumbs__item breadcrumb__item_active">Мій профіль</span>
				</nav>
			</div>
			<CabinetSidebar className='cabinet__sidebar' active="/payment-info"></CabinetSidebar>
			<h1 class="cabinet__title">Платіжна інформація</h1>
			<!-- Main content -->
			<div class="cabinet__body">
				<!-- Profile form -->
				<form class="cabinet__form">
					<div class="cabinet__section">
						<h2 class="cabinet__section-title">Рахунки для виплат</h2>
						<div class="cabinet__form-body cabinet__form-body_payment-info">
							<div class="form-field cabinet__form-field_lg">
								<label class="form-field__label">Вкажіть ваш ФОП рахунок / IBAN</label>
								<input type="text" class="form-field__input" placeholder="UA000000000000000000000000000001234" required>
							</div>
							<div class="form-field">
								<label class="form-field__label">Картка Монобанку</label>
								<input type="text" class="form-field__input" placeholder="Введіть прізвище" value="4444 1111 0000 2222">
							</div>
							<div class="form-field">
								<label class="form-field__label">Картка ПриватБанку</label>
								<input type="tel" class="form-field__input" placeholder="4444 1111 0000 2222">
							</div>
						</div>
					</div>
					<div class="cabinet__tip">
						Вторинні зміни даних карт буде проводитися через адміністрацію сайту. <a href="" class="text-link underline">Зв'язатися</a>
					</div>
					<div class="cabinet__section">
						<button type="submit" class="btn btn_rect btn_primary cabinet__submit">Зберегти зміни</button>
					</div>
				</form>
			</div>
		</div>
	</div>
</Layout>