---
import ImgWrap from '../components/basic/ImgWrap.astro';
import Layout from '../layouts/Layout.astro';
import ProductListCard from 'src/components/ProductListCard.astro';

---

<Layout title="ReSale Product Card" description="Product Card">
	<div class="product-card light-bg section-space-bottom">
		<div class="container">
			<div class="product-card__inner">
				<div class="product-card__header">
					<div class="product-card__breadcrumbs">
						<nav aria-label="Breadcrumb" class="breadcrumbs tg-breadcrumbs">
							<a href="/" class="breadcrumbs__item text-link">Главная</a>
							<span class="breadcrumbs__separator">›</span>
							<span class="breadcrumbs__item breadcrumb__item_active">Одежда</span>
						</nav>
					</div>
					<div class="product-card__id product-card__id_mob">342432</div>
				</div>
				<div class="product-card__media product-card-media" data-component=":product-card-media:">
					<div class="product-card-media__thumbs product-card-media-thumbs">
						<button class="product-card-media-thumbs__btn product-card-media-thumbs__prev-btn btn"><span class="icon-big-arrow-down btn__icon"></span></button>
						<div class="product-card-media-thumbs__body-wrap">
							<div class="product-card-media-thumbs__body">
								<ImgWrap className='product-card-media-thumbs__item'>
									<img src="img/card/product_01.webp" alt="Product media">
								</ImgWrap>
								<ImgWrap className='product-card-media-thumbs__item'>
									<img src="img/card/product_01.webp" alt="Product media">
								</ImgWrap>
								<ImgWrap className='product-card-media-thumbs__item'>
									<img src="img/card/product_03.webp" alt="Product media">
								</ImgWrap>
								<ImgWrap className='product-card-media-thumbs__item'>
									<img src="img/card/product_04.webp" alt="Product media">
								</ImgWrap>
								<ImgWrap className='product-card-media-thumbs__item'>
									<img src="img/card/product_05.webp" alt="Product media">
								</ImgWrap>
							</div>
						</div>
						<button class="product-card-media-thumbs__btn product-card-media-thumbs__next-btn btn"><span class="icon-big-arrow-down btn__icon"></span></button>
					</div>
					<div class="product-card-media__main product-card-main-media">
						<a href="img/card/product_01.webp" data-fslightbox>
							<ImgWrap className='product-card-main-media__item'>
								<img src="img/card/product_01.webp" alt="Product media">
							</ImgWrap>
						</a>
						<a href="img/card/product_01.webp" data-fslightbox>
							<ImgWrap className='product-card-main-media__item'>
								<img src="img/card/product_01.webp" alt="Product media">
							</ImgWrap>
						</a>
						<a href="img/card/product_03.webp" data-fslightbox>
							<ImgWrap className='product-card-main-media__item'>
								<img src="img/card/product_03.webp" alt="Product media">
							</ImgWrap>
						</a>
						<a href="img/card/product_04.webp" data-fslightbox>
							<ImgWrap className='product-card-main-media__item'>
								<img src="img/card/product_04.webp" alt="Product media">
							</ImgWrap>
						</a>
						<a href="img/card/product_05.webp" data-fslightbox>
							<ImgWrap className='product-card-main-media__item'>
								<img src="img/card/product_05.webp" alt="Product media">
							</ImgWrap>
						</a>
					</div>
					<div class="product-card-media__progress-bar"></div>
				</div>
				<div class="product-card__info">
					<div class="product-card__info-header">
						<div class="product-card__brand">Louis Vuitton</div>
						<div class="product-card__title">Шкіряна сумка</div>
						<div class="product-card__id product-card__id_desc">342432</div>
						<div class="product-card__price">
							<div class="product-card__full-price product-card__full-price_hl">11 300 ₴</div>
						</div>
						<select name="size" class="product-card__size" data-component=":select:" data-type=":select.field:">
							<option value="XS" disabled>XS</option>
							<option value="S" selected>S</option>
							<option value="M">M</option>
							<option value="L">L</option>
							<option value="XL" disabled>XL</option>
							<option value="XXL" disabled>XXL</option>
						</select>
						<div class="product-card__variants">
							<div class="product-card__block-title">Виберіть колір</div>
							<div class="product-card__variants-body" data-component=":variants-slider:">
								{
									[true,false,false,false,false].map((active) => <a title="Синій" href="" class:list={["product-card__variant-item img-wrap img-wrap_cover", active && "product-card__variant-item_active"]}>
																												<div class="img-wrap__inner">
																													<img src="img/variant.jpg" alt="Variant" class="img-wrap__item">
																												</div>
																											</a>)
								}
							</div>
						</div>
					</div>
					<a href="" class="product-card__all-products text-link underline">Усі товари продавця</a>
					<div class="product-card__actions">
						<button type="button" class="btn btn_rect btn_md btn_light btn_border-round">Додати в кошик</button>
						<button type="button" class="btn btn_rect btn_md btn_semi-dark btn_border-round btn_buy"><span class="btn__icon icon-shopper"></span><div class="btn__title">Купити в один клік</div></button>
						<button type="button" class="btn btn_rect btn_md btn_light btn_border-round">Запропонувати ціну</button>
					</div>
					<div class="product-card__info-group">
						<div class="disclosure product-info-disclosure" data-component=":disclosure:">
							<div class="product-info-disclosure__header" data-elem="disclosure.toggle">
								Опис
								<span class="product-info-disclosure__arrow icon-big-arrow-down"></span>
							</div>
							<div class="disclosure__body product-info-disclosure__body">
								<div class="product-info-disclosure__inner tg-product-info" data-elem="disclosure.inner">
									<p>Женственный трендовый фасон кардигана станет приятным дополнением образа. Наряд актуален для прохладной, ветреной или сырой погоды. Модель выполнена в нежной привлекательной расцветке. </p>
								</div>
							</div>
						</div>
						<div class="disclosure product-info-disclosure" data-component=":disclosure:">
							<div class="product-info-disclosure__header" data-elem="disclosure.toggle">
								Наявність в магазині
								<span class="product-info-disclosure__arrow icon-big-arrow-down"></span>
							</div>
							<div class="disclosure__body product-info-disclosure__body">
								<div class="product-info-disclosure__inner tg-product-info" data-elem="disclosure.inner">
									<p>м. Львів, вул. Шпитальна 1, тц Магнус</p>
								</div>
							</div>
						</div>
						<div class="disclosure product-info-disclosure" data-component=":disclosure:">
							<div class="product-info-disclosure__header" data-elem="disclosure.toggle">
								Опис
								<span class="product-info-disclosure__arrow icon-big-arrow-down"></span>
							</div>
							<div class="disclosure__body product-info-disclosure__body">
								<div class="product-info-disclosure__inner tg-product-info" data-elem="disclosure.inner">
									<p>Женственный трендовый фасон кардигана станет приятным дополнением образа. Наряд актуален для прохладной, ветреной или сырой погоды. Модель выполнена в нежной привлекательной расцветке. </p>
								</div>
							</div>
						</div>
						<div class="disclosure product-info-disclosure" data-component=":disclosure:">
							<div class="product-info-disclosure__header" data-elem="disclosure.toggle">
								Склад
								<span class="product-info-disclosure__arrow icon-big-arrow-down"></span>
							</div>
							<div class="disclosure__body product-info-disclosure__body">
								<div class="product-info-disclosure__inner tg-product-info" data-elem="disclosure.inner">
									<p>склад товару м. Львів</p>
								</div>
							</div>
						</div>
						<div class="disclosure product-info-disclosure" data-component=":disclosure:">
							<div class="product-info-disclosure__header" data-elem="disclosure.toggle">
								Повернення товару
								<span class="product-info-disclosure__arrow icon-big-arrow-down"></span>
							</div>
							<div class="disclosure__body product-info-disclosure__body">
								<div class="product-info-disclosure__inner tg-product-info" data-elem="disclosure.inner">
									<p>Затраты связанные с возвратом товара оплачивает покупатель. Исключение — товар ненадлежащего качества. Возврат товара возможен лишь при условии сохранения его потребительских свойств и товарного вида (отсутствие следов эксплуатации и носки, наличие оригинальной и неповрежденной упаковки и ярлыков).</p>
									<p>Если Вы хотите сделать обмен или возврат свяжитесь с нашим менеджером по телефону: <a href="tel:+380937373708" class="text-link">+38 (093) 737 37 08</a></p>
								</div>
							</div>
						</div>
						<div class="disclosure product-info-disclosure" data-component=":disclosure:">
							<div class="product-info-disclosure__header" data-elem="disclosure.toggle">
								Доставка і оплата
								<span class="product-info-disclosure__arrow icon-big-arrow-down"></span>
							</div>
							<div class="disclosure__body product-info-disclosure__body">
								<div class="product-info-disclosure__inner tg-product-info" data-elem="disclosure.inner">
									<p>Мы предлагаем своим клиентам бесплатную курьерскую доставку по Украине через Новую Почту. Заказ Вы получите на следующий день после заказа, если тот был сделан до 16.00. </p>
									<p>Вы можете оплатить товар через Новую почту наложенным платежом, переводом на банковскую карту или свяжитесь с менеджером, чтобы выбрать более удобный способ оплаты:</p>
									<p><a href="tel:+380937373708" class="text-link">+38 (093) 737 37 08</a></p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="recomendations section-space" data-component=":recomendations:">
		<div class="container">
			<div class="recomendations__inner">
				<div class="recomendations__header">
					<h2 class="recomendations__title tg-section-title">Iнші товари продавця</h2>
					<div class="recomendations__actions">
						<button type="button" class="recomendations__btn recomendations__btn_prev btn btn_rect btn_slider"><span class="icon-small-arrow-left btn__icon"></span></button>
						<button type="button" class="recomendations__btn recomendations__btn_next btn btn_rect btn_slider"><span class="icon-small-arrow-right btn__icon"></span></button>
					</div>
				</div>
				<div class="recomendations__body">
					{	
						Array(12).fill({
							sizes: [28, 29, 30],
						}).map(item => <ProductListCard className='recomendations__item' data={item}></ProductListCard>)
					}
				</div>
			</div>
		</div>
	</div>
	<div class="recomendations section-space light-bg" data-component=":recomendations:">
		<div class="container">
			<div class="recomendations__inner">
				<div class="recomendations__header">
					<h2 class="recomendations__title tg-section-title">Переглянуті товари</h2>
					<div class="recomendations__actions">
						<button type="button" class="recomendations__btn recomendations__btn_prev btn btn_rect btn_slider"><span class="icon-small-arrow-left btn__icon"></span></button>
						<button type="button" class="recomendations__btn recomendations__btn_next btn btn_rect btn_slider"><span class="icon-small-arrow-right btn__icon"></span></button>
					</div>
				</div>
				<div class="recomendations__body">
					{	
						Array(12).fill({
							sizes: [28, 29, 30],
						}).map(item => <ProductListCard className='recomendations__item' data={item}></ProductListCard>)
					}
				</div>
			</div>
		</div>
	</div>
	<div class="recomendations recomendations_categories section-space" data-component=":category-recomendations:">
		<div class="container">
			<div class="recomendations__inner">
				<div class="recomendations__header">
					<h2 class="recomendations__title tg-section-title">Можливо Ви шукали</h2>
				</div>
				<div class="recomendations__body">
					{	
						[
							"Джегінси",
							"Джинси банани",
							"Джинсы бойфренди",
							"Розфарбовані джинси",
							"Джинси Мом",
							"Джинси з високою талією",
							"Джинси скіні",
							"Завужені джинси",
							"Прямі джинси",
							"Рвані джинси",
							"Укорочені джинси",
							"Широкі і розкльошені джинси"
						].map(item => <div class="recomendations__item">
														<a href="" class="btn btn_recomedation">{item}</a>
													</div>)
					}
				</div>
			</div>
		</div>
	</div>
	
	<div class="seo-text article section-space-bottom">
		<div class="container">
			<div class="seo-text__visible">
				<div class="article-section">
					<h3 class="article-section__title">Детские брендовые джинсы — удобно, безопасно и качественно</h3>
					<div class="article-section__body article-section__body_space article-section__body_gap">
						<p>Современный мир не может представить гардероб человека без джинсовой одежды. Знаменитые кутюрье используют ее для своих моделей и выставляют на модных показах. Кроме джинсовых коллекций для взрослых людей, стилисты создают и детские линии.</p>
						<p>Брюки из джинсовой ткани сочетаются со многими видами одежды из детского гардероба – майками, рубашками, свитерами, куртками. Внешне привлекательные детские брендовые джинсы – это универсальная и практичная одежда. Различные утеплители позволяют создавать варианты джинсовой одежды для осенне-зимнего сезона.</p>
					</div>
				</div>
			</div>
			<div id="seo-hidden" class="disclosure seo-text__hidden" data-component=":disclosure:">
				<div class="disclosure__body">
					<div class="disclosure__inner" data-elem="disclosure.inner">
						<div class="article-section">
							<h3 class="article-section__title">Детские брендовые джинсы – безопасность, легкость и комфорт</h3>
							<div class="article-section__body article-section__body_space article-section__body_gap article">
								<p>Одежда уже давно перестала быть просто прикрытием для тела или защитой от холода. Родители наслаждаются, когда их ребенок тепло и стильно одет. Поэтому они подбирают одежду для своих детей у известных дизайнеров. </p>
								<p>Брюки из джинсовой ткани сочетаются со многими видами одежды из детского гардероба – майками, рубашками, свитерами, куртками. Внешне привлекательные детские брендовые джинсы – это универсальная и практичная одежда. Различные утеплители позволяют создавать варианты джинсовой одежды для осенне-зимнего сезона.</p>
								<div class="article-child-section">
									<h4 class="article-child-section__title">Детские джинсы 1</h4>
									<div class="article-child-section__body">
										<p>Из-за своей практичности джинсы стали повседневной формой одежды. Существуют определенные требования к их производству, особенно для детских вещей. Приведем основные пункты вне зависимости от возраста ребенка: </p>
										<ul class="article-list">
											<li>легковесность материала;</li>
											<li>простота и скорость одевания;</li>
											<li>безопасность.</li>
										</ul>
										<p>Последний пункт особенно важен! Безопасность связана с использованием тканей, состав которых не вызывает аллергии. Качество деталей застегивания одежды и декоративных элементов должны соответствовать стандартам безопасности. Ребенок не должен об них пораниться.</p>
									</div>
								</div>
								<div class="article-child-section">
									<h4 class="article-child-section__title">Детские джинсы 2</h4>
									<div class="article-child-section__body">
										<p>Перечислим еще какими достоинствами располагает наряд от брендов:</p>
										<ol class="article-list">
											<li>Качество одежды на высоком уровне – подтверждается европейскими организациями, контролирующими качество производимых товаров.</li>
											<li>Гигиеничность – модели производятся из тканей, позволяющих телу «дышать».</li>
											<li>Легкость ухода – ткань легко и быстро отстирывается.</li>
											<li>Одежда несколько сезонов не меняет своих первозданных качеств – она не линяет при, не вытягивается, не выгорает на солнце.</li>
										</ol>
										<p>Все эти аргументы говорят в пользу одежды от брендов. </p>
										<p><i>Будьте бдительны! Вы можете попасть на некачественный аналог продукции. Можно ли определить фальсификат визуально?</i></p>
									</div>
								</div>
								<div class="article-child-section">
									<h4 class="article-child-section__title">Детские джинсы 3</h4>
									<div class="article-child-section__body">
										<p>Вот несколько пунктов, на которые нужно обратить внимание при выборе оригинальных джинсов:</p>
										<ul class="article-list">
											<li>фактура – изделие должно быть гладким, без узелков и других дефектов;</li>
											<li>фурнитура – на пуговицах, «собачке» замка и заклепках должно быть название либо бренда, либо его изготовителя, замок не должен самостоятельно открываться;</li>
											<li>состояние швов – каждый бренд пользуется своей фирменной декоративной строчкой, должны отсутствовать участки сжатий, концы нитей закреплены.</li>
										</ul>
										<p>Необходимо отметить еще один существенный показатель – стоимость товара довольно высокая, но, бренд не может стоить дешево.</p>
									</div>
								</div>
							</div>
						</div>
						<div class="article-section">
							<h3 class="article-section__title">Детские брендовые джинсы – популярные виды</h3>
							<div class="article-section__body article-section__body_space article-section__body_gap">
								<p>Детские джинсы представлены широчайшим ассортиментом, их производят многие знаменитые и малоизвестные фирмы. Ниже список хорошо зарекомендовавших себя брендов:</p>
								<ul class="list-with-description">
									<li>
										<div class="list-with-description__item">Детские брендовые джинсы Elisabetta Franchi Bambina.</div>
										<div class="list-with-description__desc">Основательница итальянского бренда делает акцент на экологичности своих моделей. На фурнитуре изображен ее логотип. Детские джинсы представлены в классическом исполнении. Украшают джинсы потертостями или нашивками логотипа бренда.</div>
									</li>
									<li>
										<div class="list-with-description__item">Детские брендовые джинсы Emporio Armani Junior.</div>
										<div class="list-with-description__desc">Итальянский дизайнер привносит свой фирменный безупречный классический стиль во все свои модели – не исключение детские джинсы. В то же время одежда для детей выдержана в спортивном стиле. Представленные модели имеют разный цвет: белый, черный, красный, светлые оттенки голубого и серого цветов. Отдельные модели брюк созданы с потертостями, прорваностями и принтами.</div>
									</li>
									<li>
										<div class="list-with-description__item">Детские брендовые джинсы Ermanno Scervino Junior.</div>
										<div class="list-with-description__desc">В своих моделях итальянский дизайнер сочетает декоративность и сдержанность. Детские джинсы для девочек от итальянского стилиста украшены небольшими цветочками, бабочками вокруг карманов и внизу брючины. Для мальчиков выполнены с боковыми вставками-лампасами. </div>
									</li>
									<li>
										<div class="list-with-description__item">Детские брендовые джинсы Kenzo.</div>
										<div class="list-with-description__desc">Французский дизайнер с японскими корнями в моделях воплотил веселье и красочность детского мира. Джинсы украшены экзотическими принтами, цветовая палитра разнообразна. В линейке джинсов есть модели, выполненные в строгом классическом исполнении синего или черного цветов. Поэтому любой ребенок может выбрать для себя любимую модель. </div>
									</li>
									<li>
										<div class="list-with-description__item">Детские брендовые джинсы Philipp Plein Junior.</div>
										<div class="list-with-description__desc">Девизом немецкого модельера стали слова: увлеченность, эксклюзивность, уникальность. Дизайнер создает фасоны, которые отличаются от установленных стандартов. Его модели выполнены как в классическом, так и в нетрадиционном исполнении. Они украшены полосками, вставками, крупными и мелкими надписями имени дизайнера, потертостями. Молодое поколение с удовольствием будет приобретать неординарную одежду этого стилиста.</div>
									</li>
									<li>
										<div class="list-with-description__item">Детские брендовые джинсы Ralph Lauren Polo Children.</div>
										<div class="list-with-description__desc">Американский дизайнер выпускает детские джинсы традиционного кроя. Акцент делается цветовому исполнению и деталям. Часто декорируется фирменным логотипом – игрок в поло. Цветовая гамма моделей выполняется в традиционных джинсовых цветах: от светло-голубого до темно-синего и черного. Украшаются потертостями, порванностями, надписями и нашивками.</div>
									</li>
									<li>
										<div class="list-with-description__item">Детские брендовые джинсы Twin Set Junior.</div>
										<div class="list-with-description__desc">Итальянский бренд ориентирован на создание только женской одежды. Уникальность коллекция состоит в создании простых и в то же время женственных моделей. Украшением моделей являются: цветовая гамма, потертости и рваности. Из всего ряда предложений дизайнеров родители и дети могут выбрать подходящую модель. Стоит только внимательно изучить предложения рынка. Конечно, это нелегко – ассортимент детских джинсов очень велик. </div>
									</li>
								</ul>
							</div>
						</div>
						<div class="article-section">
							<h3 class="article-section__title">Детские брендовые джинсы – где купить?</h3>
							<div class="article-section__body article-section__body_space article-section__body_gap">
								<p>Оценить предложения многочисленных брендов лучше в домашней уютной обстановке. Поэтому не выходя из дома предлагается посетить интернет-магазин DiForte. Родители и дети смогут обозреть и обсудить многие предложения в спокойной обстановке.</p>
								<p>В магазине DiForte действует программа скидок до 15%, если воспользуетесь картой клиента. Возможна доставка оператором «Новая почта». В случае, если модель не подошла, то ее можно обменять или возвратить в течение 14 суток</p>
							</div>
						</div>
						<div class="article-section">
							<h3 class="article-section__title">Детские брендовые джинсы - и другие популярные бренды в каталоге Diforte</h3>
							<div class="article-section__body article-section__body_space article-section__body_gap">
								<p>В интернет магазине Дифорте представлено более 6 мировых итальянских и французских брендов одежды и аксессуаров от мировых дизайнеров. Самые популярные это:</p>
								<div class="article-links-list">
									<a href="" class="text-link text-link_article">Детские брендовые джинсы Elisabetta Franchi Bambina</a>
									<a href="" class="text-link text-link_article">Детские брендовые джинсы Ermanno Scervino Junior</a>
									<a href="" class="text-link text-link_article">Детские брендовые джинсы Ralph Lauren Children</a>
									<a href="" class="text-link text-link_article">Детские брендовые джинсы Emporio Armani Junior</a>
									<a href="" class="text-link text-link_article">Детские брендовые джинсы Kenzo</a>
									<a href="" class="text-link text-link_article">Детские брендовые джинсы Twin Set Junior</a>
									<a href="" class="text-link text-link_article">Детские брендовые джинсы Plein Junior</a>
								</div>
							</div>
						</div>
						<div class="article-section">
							<h3 class="article-section__title article-section__title_left">Детские брендовые джинсы - и другие популярные бренды в каталоге Diforte</h3>
							<div class="article-section__body article-section__body_space article-section__body_gap">
								<p>В интернет магазине Дифорте представлено более 6 мировых итальянских и французских брендов одежды и аксессуаров от мировых дизайнеров. Самые популярные это:</p>
								<div class="article-links-list">
									<a href="" class="text-link text-link_article">Детские брендовые джинсы Elisabetta Franchi Bambina</a>
									<a href="" class="text-link text-link_article">Детские брендовые джинсы Ermanno Scervino Junior</a>
									<a href="" class="text-link text-link_article">Детские брендовые джинсы Ralph Lauren Children</a>
									<a href="" class="text-link text-link_article">Детские брендовые джинсы Emporio Armani Junior</a>
									<a href="" class="text-link text-link_article">Детские брендовые джинсы Kenzo</a>
									<a href="" class="text-link text-link_article">Детские брендовые джинсы Twin Set Junior</a>
									<a href="" class="text-link text-link_article">Детские брендовые джинсы Plein Junior</a>
								</div>
							</div>
						</div>
						<div class="article-section">
							<h3 class="article-section__title">Детские брендовые джинсы - популярные вопросы наших клиентов</h3>
							<div class="article-section__body">
								<div class="article-section">
									<h3 class="article-section__title article-section__title_left">✅ Какие товары раздела Детские брендовые джинсы самые популярные в 2024 году</h3>
									<div class="article-section__body article-section__body_space article-section__body_gap">
										<p>Детские брендовые джинсы самые популярные товары на Diforte в 2024 году:</p>
										<div class="article-links-list">
											<a href="" class="text-link text-link_article">Темно-синие джинсы на резинке</a>
											<a href="" class="text-link text-link_article">Джинсы с ярким логотипом</a>
											<a href="" class="text-link text-link_article">Детские джинсы с надписями</a>
											<a href="" class="text-link text-link_article">Детские темно-синие джинсы с потертостями</a>
											<a href="" class="text-link text-link_article">Детские джинсы с брендированной резинкой</a>
										</div>
									</div>
								</div>
								<div class="article-section">
									<h3 class="article-section__title article-section__title_left">💰 Какая цена на брендовые Детские брендовые джинсы в бутике Diforte</h3>
									<div class="article-section__body article-section__body_space article-section__body_gap">
										<p>Средняя стоимость в разделе Детские брендовые джинсы : грн . Диапазон цен от грн. до грн.</p>
										<div class="article-links-list">
											<a href="" class="text-link text-link_article">Темно-синие джинсы на резинке</a>
											<a href="" class="text-link text-link_article">Джинсы с ярким логотипом</a>
											<a href="" class="text-link text-link_article">Детские джинсы с надписями</a>
											<a href="" class="text-link text-link_article">Детские темно-синие джинсы с потертостями</a>
											<a href="" class="text-link text-link_article">Детские джинсы с брендированной резинкой</a>
										</div>
									</div>
								</div>
								<div class="article-section">
									<h3 class="article-section__title article-section__title_left">◾ Детские брендовые джинсы - где я могу примерять товар и приобрести?</h3>
									<div class="article-section__body article-section__body_space article-section__body_gap">
										<p>Любой товар Вы можете приобрести у нас на сайте. Если Вы с города Львов вы можете посетить один из наших магазинов и примерять любой товар:</p>
										<div class="article-links-list">
											<span>DiForte White - ТЦ Магнус</span>
											<span>DiForte Nero - ТЦ Роксолана</span>
											<span>DiForte Kids - ТЦ Роксолана</span>
											<span>DiForte Red - ТЦ Магнус</span>
											<span>DiForte Uno - вул. Князя Романа 11</span>
										</div>
									</div>
								</div>
								<div class="article-section">
									<h3 class="article-section__title article-section__title_left">🖤 Детские брендовые джинсы - популярные виды на Diforte</h3>
									<div class="article-section__body article-section__body_space article-section__body_gap">
										<p>Любой тоСреди популярных видов стоит отметить:вар Вы можете приобрести у нас на сайте. Если Вы с города Львов вы можете посетить один из наших магазинов и примерять любой товар:</p>
										<div class="article-links-list">
											<a href="" class="text-link text-link_article">Детские темно-синие джинсы</a>
											<a href="" class="text-link text-link_article">Детские джинсы с потертостями</a>
											<a href="" class="text-link text-link_article">Детские белые джинсы</a>
											<a href="" class="text-link text-link_article">Темно-синие джинсы с контрастной строчкой</a>
											<a href="" class="text-link text-link_article">Детские джинсы с брендовой надписью</a>
										</div>
									</div>
								</div>
								<div class="article-section">
									<h3 class="article-section__title article-section__title_left">Детские брендовые джинсы - разновидность на Дифорте</h3>
									<div class="article-section__body article-section__body_space article-section__body_gap">
										<p>В онлайн бутике Diforte представлены:</p>
										<div class="article-links-list">
											<a href="" class="text-link text-link_article">Детские джеггинсы</a>
											<a href="" class="text-link text-link_article">Детские джинсы мом</a>
											<a href="" class="text-link text-link_article">Детские прямые джинсы</a>
											<a href="" class="text-link text-link_article">Детские джинсы бананы</a>
											<a href="" class="text-link text-link_article">Детские джинсы с высокой талией</a>
											<a href="" class="text-link text-link_article">Детские рваные джинсы</a>
											<a href="" class="text-link text-link_article">Детские джинсы бойфренды</a>
											<a href="" class="text-link text-link_article">Детские джинсы скинни</a>
											<a href="" class="text-link text-link_article">Детские укороченные джинсы</a>
											<a href="" class="text-link text-link_article">Детские джинсы в краску</a>
											<a href="" class="text-link text-link_article">Детские зауженные джинсы</a>
											<a href="" class="text-link text-link_article">Детские широкие и расклешенные джинсы</a>
										</div>
									</div>
								</div>
								<div class="article-section">
									<h3 class="article-section__title article-section__title_left">Характеристика товаров в каталоге - Детские брендовые джинсы</h3>
									<div class="article-section__body article-section__body_space article-section__body_gap">
										<table class="article-table article-table_zebra">
											<thead>
												<tr>
													<th>Название характеристики</th>
													<th>Значения</th>
												</tr>
											</thead>
											<tbody>
												<tr>
													<td>✅ Категория товаров</td>
													<td>Детские брендовые джинсы</td>
												</tr>
												<tr>
													<td>✅ Количество товаров в каталоге Детские брендовые джинсы</td>
													<td>83 шт.</td>
												</tr>
												<tr>
													<td>✅ Средняя цена товара</td>
													<td>грн.</td>
												</tr>
												<tr>
													<td>✅ Самый дешевый товар в разделе Детские брендовые джинсы</td>
													<td>грн.</td>
												</tr>
												<tr>
													<td>✅ Самый дорогой товар в разделе Детские брендовые джинсы</td>
													<td>грн.</td>
												</tr>
											</tbody>
										</table>
										<p>В нашем магазине Вы сможете найти брендовые Детские брендовые джинсы, начиная от бюджетных вариантов стоимостью грн. до элит класса грн от популярных, мировых брендов Kenzo, Bogner, Red Valentino, Twin Set и многих других.</p>
									</div>
								</div>
								<div class="article-section">
									<h3 class="article-section__title article-section__title_left">Детские брендовые джинсы цена на Diforte.</h3>
									<div class="article-section__body article-section__body_space article-section__body_gap">
										<table class="article-table article-table_zebra">
											<thead>
												<tr>
													<th>Название товара</th>
													<th>Цена товара</th>
												</tr>
											</thead>
											<tbody>
												<tr>
													<td>Детские темно-синие джинсы с потертостями</td>
													<td>3 553 грн.</td>
												</tr>
												<tr>
													<td>Детские белые прямые джинсы</td>
													<td>4 672 грн.</td>
												</tr>
												<tr>
													<td>Темно-синие джинсы с контрастной строчкой</td>
													<td>4 705 грн.</td>
												</tr>
												<tr>
													<td>Детские джинсы с потертостями</td>
													<td>7 008 грн.</td>
												</tr>
												<tr>
													<td>Детские джинсы с надписью</td>
													<td>7 172 грн.</td>
												</tr>
											</tbody>
										</table>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="seo-text__action">
				<button id="seo-toggle-btn" type="button" class="btn toggle-seo-btn"></button>
			</div>
		</div>
	</div>
</Layout>
<style>

</style>