---
import Layout from '../layouts/Layout.astro';

---
<Layout title="ReSale Return" description="Return">
	<div class="return">
		<div class="container return__container">
			<div class="return__header page-header">
				<nav aria-label="Breadcrumb" class="breadcrumbs tg-breadcrumbs page-header__breadcrumbs">
					<a href="/" class="breadcrumbs__item text-link">Главная</a>
					<span class="breadcrumbs__separator">›</span>
					<span class="breadcrumbs__item breadcrumb__item_active">Повернення</span>
				</nav>
				<h1 class="tg-page-title page-header__title">Повернення</h1>
			</div>
			<div class="return__body section-space-bottom">
				<p>RESALE - площадка перепродажу товарів від індивідуальних продавців, тому товари, обміну та поверненню не підлягають. Якщо річ не підійшла, ми допоможемо продати річ на платформі RESALE з меншою комісією.</p>
				<p>Також не підлягають поверненню замовлення відправлені міжнародним способом доставки. Повернення грошових коштів якщо товар, що повертається, був оплачений online на сайті, відбувається на ту картку, з якої була оплата. Терміни зарахування грошових коштів на розхрахунковий рахунок отримувача залежать від внутрішнього регламенту банка-отримувача і складають, як правило, до 7 банківських днів.</p>
				<p>RESALE - площадка перепродажу товарів від індивідуальних продавців, тому товари, обміну та поверненню не підлягають. Якщо річ не підійшла, ми допоможемо продати річ на платформі RESALE з меншою комісією.</p>
				<p>Також не підлягають поверненню замовлення відправлені міжнародним способом доставки. Повернення грошових коштів якщо товар, що повертається, був оплачений online на сайті, відбувається на ту картку, з якої була оплата. Терміни зарахування грошових коштів на розхрахунковий рахунок отримувача залежать від внутрішнього регламенту банка-отримувача і складають, як правило, до 7 банківських днів.</p>
				<p>RESALE - площадка перепродажу товарів від індивідуальних продавців, тому товари, обміну та поверненню не підлягають. Якщо річ не підійшла, ми допоможемо продати річ на платформі RESALE з меншою комісією.</p>
				<p>Також не підлягають поверненню замовлення відправлені міжнародним способом доставки. Повернення грошових коштів якщо товар, що повертається, був оплачений online на сайті, відбувається на ту картку, з якої була оплата. Терміни зарахування грошових коштів на розхрахунковий рахунок отримувача залежать від внутрішнього регламенту банка-отримувача і складають, як правило, до 7 банківських днів.</p>
			</div>
		</div>
	</div>
</Layout>