---
import CabinetSidebar from 'src/components/CabinetSidebar.astro';
import Layout from '../layouts/Layout.astro';
import ImgWrap from 'src/components/basic/ImgWrap.astro';
---

<Layout title="ReSale - Returns" description="My products">
	<div class="cabinet cabinet_returns section-space-bottom">
		<div class="container cabinet__container">
			<div class="cabinet__header">
				<nav aria-label="Breadcrumb" class="breadcrumbs tg-breadcrumbs cabinet__breadcrumbs">
					<a href="/" class="breadcrumbs__item text-link">Главная</a>
					<span class="breadcrumbs__separator">›</span>
					<span class="breadcrumbs__item breadcrumb__item_active">Оформлені повернення</span>
				</nav>
			</div>
			<CabinetSidebar className='cabinet__sidebar' active="/returns"></CabinetSidebar>
			<h1 class="cabinet__title">Оформлені повернення</h1>
			<!-- Main content -->
			<div class="cabinet__body">
				<table class="cabinet__section returns-list">
					<thead>
						<th colspan="2">Товар</th>
						<th>Статус</th>
						<th>Номер ТТН</th>
					</thead>
					<tbody>
						{
							[
								{ status: "Посилка повертається" },
								{ status: "Посилка повертається" },
								{ status: "Отримано" },
							].map(({ status }) =>
									<tr class="returns-list-item">
										<td class="returns-list-item__view">
											<ImgWrap className="" cover={true}>
												<img src={"img/product.webp"} alt="Product">
											</ImgWrap>
										</td>
										<td class="returns-list-item__info">
											<div class="returns-list-item__title">Doucal's</div>
											<div class="returns-list-item__desc">Жіночі утеплені лофери з натуральної шкіри</div>
											<div class="returns-list-item__price">
												<div class="returns-list-item__full-price">22 090</div>
												<div class="returns-list-item__discount-price">16 788 ₴</div>
											</div>
											<div class="returns-list-item__discount">-30%</div>
										</td>
										<td class:list={[
												"returns-list-item__state",
												status == "Посилка повертається" && "returns-list-item__state_return",
												status == "Отримано" && "returns-list-item__state_ok",
											]}>{status}</td>
										<td class="returns-list-item__ttn">20450937452187</td>
									</tr>
								)
						}
					</tbody>
				</table>
			</div>
		</div>
	</div>
</Layout>