---
import Layout from '../layouts/Layout.astro'

---
<Layout title="ReSale Sell" description="Sell">
	<div class="sell-product-start light-bg section-space-bottom">
		<div class="container sell-product-start__container">
      <nav aria-label="Breadcrumb" class="breadcrumbs tg-breadcrumbs breadcrumbs_centered sell-product__breadcrumbs">
        <a href="/" class="breadcrumbs__item text-link">Главная</a>
        <span class="breadcrumbs__separator">›</span>
        <span class="breadcrumbs__item breadcrumb__item_active">Продаж</span>
      </nav>

      <div class="sell-product-start__content">
        <img src="./img/sell-product/start-image.png" class="sell-product-start__image" />

        <div class="sell-product__form sell-product-start__form">
          <div class="sell-product__block sell-product__block_padding-big">
            <h2 class="tg-h2 sell-product-start__title">Продати товар</h2>
            <div class="sell-product-start__subtitle">Продавайте дизайнерські речі іншим любителям моди</div>
          </div>

          <hr class="sell-product__separator">
          
          <div class="sell-product__block sell-product__block_padding-big">
            <div class="sell-product-start__category">
              <div class="sell-product-start__category-label">Категорія</div>

              <div class="sell-product__radios">
                <label class="sell-product__radio-box" for="people-category-female">
                  <input class="sell-product__radio" id="people-category-female" type="radio" name="people-category">
                  <div class="sell-product__radio-label">Жіноче</div>
                </label>

                <label class="sell-product__radio-box" for="people-category-male">
                  <input class="sell-product__radio" id="people-category-male" type="radio" name="people-category" checked>
                  <div class="sell-product__radio-label">Чоловіче</div>
                </label>

                <label class="sell-product__radio-box" for="people-category-child">
                  <input class="sell-product__radio" id="people-category-child" type="radio" name="people-category">
                  <div class="sell-product__radio-label">Дитяче</div>
                </label>
              </div>
            </div>

            <div class="sell-product-start__selects">
              <select 
                class="sell-product__select sell-product__select_searchable" 
                name="item-category" 
                data-sell-product-select
                data-sell-product-select-searchable
              >
                <option value="XS" disabled selected>Виберіть категорію товару</option>
                <option value="outerwear">Верхній одяг</option>
                <option value="tops">Верх</option>
                <option value="bottoms">Низ</option>
                <option value="suits-jumpsuits">Костюми та комбінезони</option>
                <option value="dresses">Сукні</option>
                <option value="underwear-homewear">Білизна та домашній одяг</option>
                <option value="shoes">Взуття</option>
                <option value="accessories">Аксесуари</option>
              </select>

              <div class="sell-product__input">
                <input class="sell-product__input-control" placeholder="Введіть назву бренду" type="text">
              </div>
            </div>

            <a href="sell-product-info.html" class="btn btn_block btn_rect btn_round-corners btn_primary uppercase sell-product-start__button">Далі</a>
          </div>
        </div>
      </div>
    </div>
	</div>
</Layout>