---
import Layout from '../layouts/Layout.astro'

---
<Layout title="ReSale Sell" description="Sell">
	<div class="sell-product-start light-bg section-space-bottom">
		<div class="container sell-product-start__container">
			<div class="page-header sell-product-start__header">
				<nav aria-label="Breadcrumb" class="breadcrumbs tg-breadcrumbs page-header__breadcrumbs breadcrumbs_centered">
					<a href="/" class="breadcrumbs__item text-link">Главная</a>
					<span class="breadcrumbs__separator">›</span>
					<span class="breadcrumbs__item breadcrumb__item_active">Продаж</span>
				</nav>
			</div>

      <div class="sell-product-start__content">
        <img src="./img/sell-product/start-image.png" class="sell-product-start__image" />

        <div class="sell-product__form sell-product-start__form">
          <div class="sell-product__block sell-product__block_padding-big">
            <h2 class="tg-h2 sell-product-start__title">Продати товар</h2>
            <div class="sell-product-start__subtitle">Продавайте дизайнерські речі іншим любителям моди</div>
          </div>

          <hr class="sell-product__separator">
          
          <div class="sell-product__block sell-product__block_padding-big">
            <input class="sell-product__radio" type="radio" name="category">
            <input class="sell-product__radio" type="radio" name="category">

            <button class="btn btn_block btn_md btn_rect btn_primary uppercase">Далі</button>
          </div>
        </div>
      </div>

      <div class="sell-product__form">
        <div class="sell-product__block sell-product__field sell-product__block_padding-big">
          <div class="sell-product__property">
            <h4 class="tg-h4 sell-product__property-name">Розмір</h4>
            <div class="sell-product__property-required">Обов'язкове для заповнення поле</div>
          </div>
          <div class="sell-product__value">

            <div class="sell-product__input">
              <input class="sell-product__input-control" placeholder="Введіть назву бренду" type="text">
            </div>

            <select 
              class="sell-product__select sell-product__select_searchable" 
              name="size" 
              data-sell-product-select
              data-sell-product-select-searchable
            >
							<option value="XS" disabled>XS</option>
							<option value="S" selected>S</option>
							<option value="M">M</option>
							<option value="L">L</option>
							<option value="XL" disabled>XL</option>
							<option value="XXL" disabled>XXL</option>
						</select>

          </div>
       </div>
      </div>
		</div>
	</div>
</Layout>