---
import ImgWrap from '../components/basic/ImgWrap.astro';
import Layout from '../layouts/Layout.astro';
---

<Layout title="ReSale Frequently Asked Questions" description="Frequently Asked Questions">
	<div class="faq">
		<div class="container faq__container">
			<div class="faq__header page-header">
				<nav aria-label="Breadcrumb" class="breadcrumbs tg-breadcrumbs page-header__breadcrumbs">
					<a href="/" class="breadcrumbs__item text-link">Главная</a>
					<span class="breadcrumbs__separator">›</span>
					<span class="breadcrumbs__item breadcrumb__item_active">Відгуки клієнтів</span>
				</nav>
				<h1 class="tg-page-title page-header__title">Відгуки клієнтів</h1>
			</div>
			<div class="faq__body section-space-bottom">
			</div>
		</div>
	</div>
</Layout>