<div class="drawer drawer_right" data-drawer="basket">
	<form id="basket" name="basket" class="drawer__panel basket" data-elem="drawer.panel">
		<div class="drawer__header drawer__header_basket">
			<div class="basket__title">Кошик<div class="basket__amount">3</div></div>
			<button type="button" class="drawer__close-btn btn btn_rect" data-drawer-close="basket">
				<span class="icon-thick-cross"></span>
			</button>
		</div>
		<div class="drawer__body basket__body">
			<div class="basket__list basket-list basket-list_basket">
				<div class="basket-list__header basket-list__header_title">Название</div>
				<div class="basket-list__header basket-list__header_size">Размер</div>
				<div class="basket-list__header basket-list__header_color">Цвет</div>
				<div class="basket-list__header basket-list__header_amount">Количество</div>
				<div class="basket-list__header basket-list__header_price">Цена</div>
				{ ["", "", ""].map(() =>
						<Fragment>
							<button type="button" class="basket-list__drop btn btn_icon btn_xs"><span class="icon-thin-cross"></span></button>
							<div class="basket-list__view img-wrap">
								<div class="img-wrap__inner">
									<img src="img/basket-product.jpg" alt="Basket product" class="basket-list__img img-wrap__item">
								</div>
							</div>
							<div class="basket-list__title">Жіночі утеплені лофери з натуральної шкіри</div>
							<div class="basket-list__size">M</div>
							<div class="basket-list__color">Серый</div>
							<div class="basket-list__amount">
								<div class="amount-select">
									<button type="button" class="amount-select__btn amount-select__btn_dec btn"></button>
									<input type="number" pattern="\d+" class="amount-select__input" value="0">
									<button type="button" class="amount-select__btn amount-select__btn_inc btn"></button>
								</div>
							</div>
							<div class="basket-list__price">16 788 ₴</div>
							<div class="basket-list__separator"></div>
						</Fragment>
					)
				}
			</div>
			<dl class="basket__total"><dt>Разом:</dt><dd>15 000 грн.</dd></dl>
			<div class="basket__actions">
				<button class="btn btn_rect btn_md btn_semi-dark btn_round-corners">
					<div class="icon-shopper btn__icon"></div>
					<div class="btn__label">Купити в один клік</div>
				</button>
				<button class="btn btn_rect btn_md btn_dark-border btn_round-corners">
					<div class="btn__label">Оформити замовлення</div>
				</button>
				<button class="btn btn_rect btn_md btn_dark-border btn_round-corners">
					<div class="btn__label">Продовжити покупки</div>
				</button>
			</div>
		</div>
	</form>
</div>