<div class="drawer drawer_right" data-drawer="basket">
	<form id="basket" name="basket" class="drawer__panel basket" data-elem="drawer.panel">
		<div class="drawer__header drawer__header_basket">
			<div class="basket__title">Кошик<div class="basket__amount">3</div></div>
			<button type="button" class="drawer__close-btn btn btn_rect" data-drawer-close="basket">
				<span class="icon-thick-cross"></span>
			</button>
		</div>
		<div class="drawer__body basket__body">
			<table class="basket__list basket-list basket-list_basket">
				<thead>
					<tr>
						<th></th>
						<th colspan="2">Название</th>
						<th>Размер</th>
						<th>Цвет</th>
						<th>Количество</th>
						<th>Цена</th>
					</tr>
				</thead>
				<tbody>
					{ ["", "", ""].map(() =>
						<tr class="basket-list-item basket-list-item_basket">
							<td class="basket-list-item__drop">
								<button type="button" class="btn btn_icon btn_xs"><span class="icon-thin-cross"></span></button>
							</td>
							<td class="basket-list-item__view">
								<div class="img-wrap">
									<div class="img-wrap__inner">
										<img src="img/basket-product.jpg" alt="Basket product" class="basket-list-item__img img-wrap__item">
									</div>
								</div>
							</td>
							<td class="basket-list-item__title">
								Жіночі утеплені лофери з натуральної шкіри
							</td>
							
							<td class="basket-list-item__size">M</td>
							<td class="basket-list-item__color">Серый</td>
							<td class="basket-list-item__amount">
								<div class="amount-select">
									<button type="button" class="amount-select__btn amount-select__btn_dec btn"></button>
									<input type="number" pattern="\d+" class="amount-select__input" value="0">
									<button type="button" class="amount-select__btn amount-select__btn_inc btn"></button>
								</div>
							</td>
							<td class="basket-list-item__price">16 788 ₴</td>
						</tr>
					)}
				</tbody>
			</table>
			<dl class="basket__total"><dt>Разом:</dt><dd>15 000 грн.</dd></dl>
			<div class="basket__actions">
				<button class="btn btn_rect btn_md btn_semi-dark btn_round-corners">
					<div class="icon-shopper btn__icon"></div>
					<div class="btn__label">Купити в один клік</div>
				</button>
				<button class="btn btn_rect btn_md btn_dark-border btn_round-corners">
					<div class="btn__label">Оформити замовлення</div>
				</button>
				<button class="btn btn_rect btn_md btn_dark-border btn_round-corners">
					<div class="btn__label">Продовжити покупки</div>
				</button>
			</div>
		</div>
	</form>
</div>