---
import TelLink from "./TelLink.astro";
---

<footer class="footer">
	<div class="container footer__container">
		<div class="footer-menu-group">
			<div class="footer-menu-group__title tg-h4">Про компанію</div>
			<ul class="footer-menu-group__list">
				<li><a href="" class="text-link text-link_light">Про нас</a></li>
				<li><a href="" class="text-link text-link_light">Наші бренди</a></li>
				<li><a href="" class="text-link text-link_light">Відгуки</a></li>
				<li><a href="" class="text-link text-link_light">Питання | Відповіді</a></li>
			</ul>
		</div>
		<div class="footer-menu-group">
			<div class="footer-menu-group__title tg-h4">Покупцям</div>
			<ul class="footer-menu-group__list">
				<li><a href="" class="text-link text-link_light">Доставка і повернення</a></li>
				<li><a href="" class="text-link text-link_light">Гарантія атентичності</a></li>
			</ul>
		</div>
		<div class="footer-menu-group">
			<div class="footer-menu-group__title tg-h4">Продавцям</div>
			<ul class="footer-menu-group__list">
				<li><a href="" class="text-link text-link_light">Як продати</a></li>
				<li><a href="" class="text-link text-link_light">VIP  партнерство</a></li>
				<li><a href="" class="text-link text-link_light">Условія і комміссія</a></li>
			</ul>
		</div>
		<div class="footer-contacts footer__contacts">
			<TelLink className="footer__tel tg-h4"></TelLink>
			<div class="social-media">
				<a href="" class="btn btn_icon btn_md"><label for="" class="btn__label">Instagram</label><span class="btn__icon icon-instagram"></span></a>
				<a href="" class="btn btn_icon btn_md"><label for="" class="btn__label">Facebook</label><span class="btn__icon icon-facebook"></span></a>
				<a href="" class="btn btn_icon btn_md"><label for="" class="btn__label">Pinterest</label><span class="btn__icon icon-pinterest"></span></a>
			</div>
			<a href="https://linnik.agency/" class="text-link text-link_light">Website by linnik.agency</a>
		</div>
		<div class="footer__terms">
			<a href="" class="text-link text-link_light">Публічна оферта</a>
			<span class="text-light">Всі права захищені @ Resale</span>
		</div>
	</div>
</footer>