<div class="drawer drawer_center" data-drawer="one-click-buy">
	<form id="one-click-buy" name="one-click-buy" class="drawer__panel one-click-buy" data-elem="drawer.panel">
		<button type="button" class="one-click-buy__close-btn btn btn_icon" data-drawer-close="one-click-buy">
			<span class="icon-thin-cross"></span>
		</button>
		<div class="one-click-buy__body">
			<div class="one-click-buy__title">Купити в один клік</div>
			<label class="form-field form-field--muted one-click-buy__field">
				<div class="form-field__label">Номер телефону *</div>
				<input class="form-field__input" data-component=":tel-mask:"/>
			</label>
			<button type="button" class="one-click-buy__buy-btn btn uppercase btn_rect btn_md btn_primary btn_round-corners">Купити</button>
		</div>
	</form>
</div>