---
import ImgWrap from './basic/ImgWrap.astro';
import SearchResultCard from './SearchResultCard.astro';


interface Props {
	className?: string;
}

const { className } = Astro.props;
---

<div class:list={["search", className]} data-component=":search:">
	<div class={"search-field search__field"}>
		<button type="button" class="btn btn_icon btn_sm search-field__open-btn search-field__open-btn_mob" data-elem=":search.open-btn:"><span class="btn__label">Open search</span><span class="btn__icon icon-magnifier"></span></button>
		<div class="search-field__panel">
			<div class="container search-field__container">
				<div class="search-field__wrap">
					<button type="button" class="btn btn_icon btn_sm search-field__open-btn search-field__open-btn_panel" data-elem=":search.open-btn:"><span class="btn__label">Open search</span><span class="btn__icon icon-magnifier"></span></button>
					<input type="text" class="search-field__input" placeholder="Пошук">
					<button type="button" class="btn btn_icon btn_sm search-field__close-btn" data-elem=":search.close-btn:"><span class="btn__label">Close search</span><span class="btn__icon icon-thin-cross"></span></button>
				</div>
			</div>
		</div>
	</div>
	<div class="search__results search-results" data-drawer="search-results">
		<div data-elem="drawer.panel">
			<div class="container">
				<div class="search-results__inner">
					<div class="search-results-list">
						<div class="search-results-list__title search-result-title">Продукти</div>
						<div class="search-results-list__body">
							{	
								Array(6).fill({
									brand: "HUGO BOSS",
									title: "Червона тонка вовняна кофта",
									price: "6430",
									priceWithDiscount: "4156₴",
									discount: "-30%"
								}).map(data => <SearchResultCard data={data}></SearchResultCard>)
							}
						</div>
					</div>
					<div class="search-results__categories">
						<div class="search-results-categories">
							<div class="search-results-categories__title search-result-title">Бренды</div>
							<ul class="search-results-categories__list">
								<li><a href="" class="text-link text-link_light">Джинсы HUGO BOSS</a></li>
								<li><a href="" class="text-link text-link_light">Джинсы Emporio Armani</a></li>
								<li><a href="" class="text-link text-link_light">Джинсы HUGO</a></li>
								<li><a href="" class="text-link text-link_light">Джинсы Max Mara</a></li>
								<li><a href="" class="text-link text-link_light">Джинсы Elitahbetta Franchi</a></li>
								<li><a href="" class="text-link text-link_light">Джинсы Emporio Armani Junior</a></li>
							</ul>
						</div>
						<div class="search-results-categories">
							<div class="search-results-categories__title search-result-title">Категории</div>
							<ul class="search-results-categories__list">
								<li><a href="" class="text-link text-link_light">Джинсы</a></li>
								<li><a href="" class="text-link text-link_light">Высокие джинсы</a></li>
								<li><a href="" class="text-link text-link_light">Ровные джинсы</a></li>
								<li><a href="" class="text-link text-link_light">Укороченный джинсы</a></li>
								<li><a href="" class="text-link text-link_light">Широкие джинсы</a></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>